body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: flex;
    width: 960px;
    flex-wrap: wrap;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    justify-content: center;

}

#btn {
    margin: 10px;
}